
#video-grid{
    display:flex;
    justify-content:center;
    flex-basis:auto;
    display:grid;
}
/* 
#video-grid{
    height: calc(100% - 130px);
    width: 200%;
    display: flex;
    flex-direction: row;
    justify-content: center;
} */
video {
    flex:1;
    padding: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1);
    border-width: 30px;
    border-color:#343433;}


body{
    padding: 0;
    margin: 0;
    background-color: black;
}


.Videos{
    flex: 1;
    background-color:#343433;
    display: flex;
    justify-content: center;
    align-items: stretch;

}


.pageLeft{
    flex: 0.8;
    display: flex;
    flex-direction:column;
    align-items: stretch;
 /* flex-flow:row wrap; */
}


.pageRight{
    flex: 0.2;
    display: none;
    flex-direction: column;
    /* background-color: #242324; */
    border-left: 1px solid #3D3D42;
    background-color:white;
    display:none;
}

::placeholder { 
    color:rgb(88, 85, 85);
    opacity: 0.8; 
  }

.page{
    height: 100vh;
    display: flex;
}




.RiseButton{
    color:#D2D2D2;
}
.Controls{
    display: flex;
    flex-direction:row;
    background-color: #1C1E20;
    color: #D2D2D2;
    padding: 0 20%  0 35%;
    justify-content: space-between;
}

.ControlsBlock{
    display: flex;
    padding:5px;
}



.ControlsButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    left: 250px;
    /* background-color: #424242; */
    opacity: 0.8;
    cursor: pointer;
}

.ControlsButton i {
    font-size: 24px;
}

.ControlsButton:hover{
    background-color:black;
    border-radius: 5px;
}

.endMeet{
    color: red;
}

.unmute{
    color: red;
}

.chatHeader{
    color:white;
    text-align: center;
}

.chatWindow{
    background-color: white;
    flex-grow: 1;
    overflow-y: auto;
}

.messageBox{
    padding: 22px 12px;
    display: flex;
    align-items: center;
    background: #f1f3f4;
    border-radius: 25px;
    min-height: 36px;
    margin: 15px;
    box-align: end;
    align-items: flex-end;
    box-orient: horizontal;
    flex-direction: row;
   
}

.messageBox input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: black;
}
.date{
     display: flex;
    color:#FFFFFF;
    position: relative;
    left: 0px;
    opacity: 0.6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    min-width: 90px;
    cursor: pointer;
}

.messages{
    color: #f5f5f5;
    list-style: none;
}
#promptBox{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translate(-50);
}
@media only screen and (max-width: 600px) {
    #video-grid {
        display: block;
        flex:1;
    }
}
@media only screen and (min-width: 601px) {
    #video-grid {
    display: grid;
    grid-template-rows: repeat(auto-fill, 400px);
    grid-template-columns: 400px;
    display: flex;
    /* flex:200% ; */
    justify-content: center;
    }
}
